body {
  background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-color: #343a40;
  font-family: 'Permanent Marker', cursive;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #e2e3b2;
  font-weight: lighter;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 20vmin);
  grid-template-columns: repeat(3, 20vmin);
  grid-gap: 0vmin;
}

section {
  background-image: url('../assets/images/grid.svg');
}

div {
  font-size: 10vmin;
  text-align: center;
  vertical-align: middle;
}

button {
  border: none;
  font-size: 25px;
  background-color: #2b2b2b;
  border-radius:10%;
  margin: 10px;
  height: 45px;
  width: 90px;
  color: #e2e3b2;
  font: inherit;
  background-image: url('../assets/images/button.svg');
  background-repeat: no-repeat;
}

button:hover{
  color: #dbe5e5;
}
h1 {
  font-size: 60px;
  margin: 20px;
}

h2 {
  font-size: 40px;
  margin: 0 0 20px;
}

h1,
h2,
a:link {
  color: #dbe5e5;
}

a:visited {
  color: #9f86c0;
}

a:active {
  color: #fcbf49;
}